$background: #ff7e00;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.product-box .card-img-top {
  margin: 0 auto;
  display: block;
  height: 225px;
}

.blog-header-logo {
  font-size: 1.75rem;
  margin: 30px 0;
}

.dropdown-previewcart {
  min-width: 310px;
  left: auto;
  right: 0;
}
.btn-group, .btn-group-vertical{
  margin: 0 5px;
}
img {
  max-width: 100%;
}
nav.navbar{
  ul.navbar-nav{
    .nav-link{
      padding-right: 1rem;
      padding-left: 1rem;
      border-radius: 3px;
      margin-right: 10px;
      &.active{
        background-color: #E40046;
        color: #FFF;
      }
    }
  }
}

.card-body{
  padding: 0.8rem;
  .card-text{
    margin-bottom: 5px;
  }
}
.previewCart-emty{
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 15px;
  text-align: center;
  p{margin:0;}
}
.previewCart {

  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;
  max-height: 400px;
  overflow-y: scroll;

  .previewCartItem {
    padding: 10px ;
    width: 100%;
    display: flex;

  }

  .previewCartItem + .previewCartItem{
    border-top: 1px solid #eee;
  }
  .previewCartItem-image {
    padding: 0;
    width: 80px;
    flex-basis: 100px;
  }

  .previewCartItem-content {
    padding-left: 15px;

  }

  .previewCartItem-name {
    margin-bottom: 0px;
    font-weight: 400;

  }
  .previewCartItem-desc{
    margin-bottom: 0px;
  }
  .previewCartItem-price {
    margin:0;
  }

  .previewCartAction {
    padding: 1rem 0 0.5rem;

    .button {
      color: white;
    }
  }
}

