$background: #ff7e00;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.shop-card-discount{
  color: #fff;
  background-color: #E40046;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px 7px;
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
}
.product-box .card-img-top {
  margin: 0 auto;
  display: block;
  height: 225px;
}
.header{
  padding: 30px 0;
}
.blog-header-logo {
  font-size: 1.75rem;
}

.dropdown-previewcart {
  min-width: 280px;
  left: auto;
  right: 0;
}
.btn-group, .btn-group-vertical{
  margin: 0 5px;
}
img {
  max-width: 100%;
}
.card-price{
}
.price{
  color: #de740a;
  font-size: 18px;
  font-weight: 600;

}
.price--noSale{
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}
nav.navbar{
  ul.navbar-nav{
    .nav-link{
      padding-right: 1rem;
      padding-left: 1rem;
      border-radius: 3px;
      margin-right: 10px;
      &.active{
        background-color: #E40046;
        color: #FFF;
      }
    }
  }
}

.card-body{
  padding: 0.8rem;
  text-align: center;
  .card-text{
    margin-bottom: 10px;
  }
}
.card-title a{
  color: #333;
  text-decoration: none;
  &:hover{
    color: #de740a;
  }
}
.previewCart-emty{
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 15px;
  text-align: center;
  p{margin:0;}
}
.previewCart {

  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;


  .previewCartItem {
    padding: 10px ;
    width: 100%;
    display: flex;

  }

  .previewCartItem + .previewCartItem{
    border-top: 1px solid #eee;
  }
  .previewCartItem-image {
    padding: 0;
    width: 80px;
    flex-basis: 80px;
  }

  .previewCartItem-content {
    padding-left: 15px;

  }

  .previewCartItem-name {
    margin-bottom: 0px;
    font-size: 14px;

  }
  .previewCartItem-desc{
    margin-bottom: 0px;
  }
  .previewCartItem-price {
    margin:0;
  }

  .previewCartAction {
    padding: 1rem 0 0.5rem;

    .button {
      color: white;
    }
  }
}


/* ------------- modal --------------*/
.shop-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: block;
  width: 100%;
  overflow: hidden;
  outline: 0;
}

/* ------------- backdrop --------------*/
.shop-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5)
}
